<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Range</title>
</head>
<body>
    <h1>Rango says...</h1>
    <div>
        hey there partner! <br />
        <strong>{{ boldmessage }}</strong><br />
    </div>

    <h2>Most Liked Categories</h2>
    <div>
        {% if categories %}
            <ul>
            {% for category in categories %}
                <li>
                    <!-- The following line is changed to add an HTML hyperlink -->
                    <a href="/rango/category/{{ category.slug }}/">{{ category.name }}</a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
           <strong>There are no categories present.</strong>
        {% endif %}
    </div>

    <h2>Most Viewed Pages</h2>
    <div>
        {% if pages %}
            <ul>
            {% for page in pages %}
                <li>
                    <!-- The following line is changed to add an HTML hyperlink -->
                    <a href="{{ page.url }}/">{{ page.title }}</a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
           <strong>...</strong>
        {% endif %}
    </div>


    <div>
        <a href="/rango/about/">About</a><br />
        <img src="{% static 'images/rango.jpeg' %}"
             alt="Picture of Rango" /> <!-- New line -->
    </div>
</body>
</html>